@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  --beige: #ECE0D1;
  --pink: #FFB7CB;
  --blue: #BBD3FF;
  --gray: #D1D1D1;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--beige);
}

.interest-input::placeholder {
  text-align: center;
}

img {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

footer ul li::marker {
  color: #000;
}
